<form [formGroup]="inputTagForm" (ngSubmit)="onSubmit()">
    <h1>You Just Writing Or Select Data From Array</h1>
        <tag-input 
        formControlName="lang"
        [onlyFromAutocomplete]="true"
        [onTextChangeDebounce]="0" 
        [editable]="true" 
        placeholder="Type a Programming Language"
        secondaryPlaceholder="Type a Programming Language"
        (onAdd)="_SearchOperationService.triggerClick(submitBTN)"
        (onRemove)="_SearchOperationService.triggerClick(submitBTN)"
        >
        <tag-input-dropdown 
            [appendToBody]="true" 
            [focusFirstElement]="false"
            [autocompleteItems]="_SearchOperationService.programmingLangs" 
            [showDropdownIfEmpty]="false"
            >
            </tag-input-dropdown>
        </tag-input>
        <button #submit type="submit" hidden>Submit</button>
</form> 


<div class="" *ngIf="inputTagForm?.value">
    <h1>Array Value From Form Control </h1>
    <ul>
        <li *ngFor="let item of inputTagForm?.value.lang">
            {{item["value"]}}
        </li>
    </ul>
</div>