::ng-deep .ng2-tag-input__text-input
    width: 400px !important

    
::ng-deep .ng-tns-c53-0
    border-radius: 10px !important

::ng-deep .ng2-tag-input
    border: 2px solid #efefef !important
    padding: 0.5rem !important
    border-radius: 10px

::ng-deep .ng2-dropdown-menu
    width: 100% !important
    left: 0 !important
    right: 16px
    padding: 0 !important

